* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  padding: 32px;
  -webkit-user-drag: none;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100dvh;
  overflow: hidden;
  user-select: none;
  gap: 48px;
  cursor: none !important;
}

input, textarea {
  cursor: text !important;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header:has(* + *) {
  width: 100%;
  justify-content: space-between;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex: 1;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-stretch {
  justify-content: stretch;
}

.flex-1 {
  flex: 1;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 12px;
}

.gap-5 {
  gap: 20px;
}

.gap-10 {
  gap: 40px;
}
