<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../../public/css/style.css" rel="stylesheet" />
    <link href="../../public/css/color.css" rel="stylesheet" />
    <link href="../../public/css/text.css" rel="stylesheet" />
    <link href="../../public/css/modal.css" rel="stylesheet" />
    <link href="../../public/css/toast.css" rel="stylesheet" />
    <link href="../../public/css/btn.css" rel="stylesheet" />

    <script type="module" src="../../public/js/setup.js"></script>

    <title>Emissor de Senha - Deovita</title>
  </head>
  <body>
    <div class="header">
      <img width="240" src="../../public/img/logo-adolfo-lutz-horizontal-color.png" alt="Logo Adolfo Lutz">
      <img width="200" src="../../public/img/logo-deovita-horizontal-color.png" alt="Logo Deovita - Saúde Inteligente">
    </div>

    <div class="container">
      <p class="title text-primary">GERAR SENHA</p>
      <div class="w-full flex-column gap-3 flex-1">
        <div class="touch bg-blue-light text-blue" data-type="N" name="touch">
          <div class="border-blue">N</div>
          <div class="">ATENDIMENTO NORMAL</div>
        </div>
        <div class="touch bg-red-light text-red" data-type="P" name="touch">
          <div class="border-red">P</div>
          <div class="">ATENDIMENTO PRIORIDADE</div>
        </div>
        <div class="touch bg-primary-light text-primary" data-type="DN" name="touch">
          <div class="border-primary">DN</div>
          <div class="">DEOVITA NORMAL</div>
        </div>
        <div class="touch bg-orange-light text-orange" data-type="DP" name="touch">
          <div class="border-orange-light">DP</div>
          <div class="">DEOVITA PRIORIDADE</div>
        </div>
      </div>
      </div>
    </div>

    <script type="module" src="../util/isOnline.js"></script>
    <script type="module" src="../services/pre-atendimento.js"></script>
    <script type="module" src="../services/printers.service.js"></script>
  </body>
</html>