<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../../public/css/style.css" rel="stylesheet" />
    <link href="../../public/css/color.css" rel="stylesheet" />
    <link href="../../public/css/text.css" rel="stylesheet" />
    <link href="../../public/css/modal.css" rel="stylesheet" />
    <link href="../../public/css/toast.css" rel="stylesheet" />
    <link href="../../public/css/btn.css" rel="stylesheet" />

    <script type="module" src="../../public/js/setup.js"></script>

    <title>Emissor de Senha - Deovita</title>
  </head>
  <body>
    <header class="header">
      <img width="240" src="../../public/img/logo-adolfo-lutz-horizontal-color.png" alt="Logo Adolfo Lutz">
    </header>
    <div class="container">
    <a href="../views/index.html" class="back-float bg-orange text-white flex-1">
      <img width="20" src="../../public/img/icons/chevron-left-white.svg" />
    </a>
      <div class="flex-column gap-1 w-auto">
        <h1 class="subtitle text-orange">Senhas Deovita</h1>
        <h1 class="title text-greendark">RETIRE SUA SENHA PARA SER ATENDIDO</h1>
        <h2 class="subtitle text-greendark">A sua senha aparecerá no painel quando chegar a sua vez</h2>
      </div>
      <div class="flex-column gap-2 w-full flex-1">
        <div class="flex-column gap-2 justify-stretch flex-1">
          <div class="touch bg-blue text-white w-full flex-1" data-type="DN" name="touch">
            <img src="../../public/img/icons/person.svg" />
            NORMAL
          </div>
          <div class="touch bg-red text-white w-full flex-1" data-type="DP" name="touch">
            <img src="../../public/img/icons/person-heart.svg" />
            PRIORIDADE
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <img width="200" src="../../public/img/logo-deovita-horizontal-color.png" alt="Logo Deovita - Saúde Inteligente">
    </div>

    <script type="module" src="../util/isOnline.js"></script>
    <script type="module" src="../services/deovita.js"></script>
    <script type="module" src="../services/printers.service.js"></script>
  </body>
</html>
